<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpotifyTest.openSpotify()[pri:0, instance:SpotifyTest@50d0686]">&gt;&gt;openSpotify</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896294051</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:06</td>   <td>2219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyTest.testInvalidLogin(java.lang.String, java.lang.String)[pri:0, instance:SpotifyTest@50d0686]">testInvalidLogin</td> 
  <td>main@1896294051</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:19</td>   <td>14482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyTest.testLogin(java.lang.String, java.lang.String)[pri:0, instance:SpotifyTest@50d0686]">testLogin</td> 
  <td>main@1896294051</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:26</td>   <td>21788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyTest.testSearchTrack()[pri:0, instance:SpotifyTest@50d0686]">testSearchTrack</td> 
  <td>main@1896294051</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:41</td>   <td>37110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyTest.testPlayTrack(java.lang.String)[pri:0, instance:SpotifyTest@50d0686]">testPlayTrack</td> 
  <td>main@1896294051</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:46</td>   <td>41798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyTest.testCreateRadio(java.lang.String)[pri:0, instance:SpotifyTest@50d0686]">testCreateRadio</td> 
  <td>main@1896294051</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/01/23 19:28:56</td>   <td>51278</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpotifyTest.closeSpotify()[pri:0, instance:SpotifyTest@50d0686]">&lt;&lt;closeSpotify</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896294051</td>   <td></td> </tr>
</table>
